@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
html {
  font-size: 62.5%;
}
html body {
  background: linear-gradient(to left, #c02425, #f0cb35);
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/*menu del menu.html*/
.cardText {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

/*Formulario*/
section .mask-custom {
  margin-top: 2rem;
  margin-bottom: 2rem;
  backdrop-filter: blur(15px);
  background-color: rgba(3, 3, 3, 0.2);
  border-radius: 3em;
  border: 3px solid rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
section .btn:hover {
  background-color: #f79606;
}

/* GALERIA */
.introGaleria {
  background: rgba(3, 127, 243, 0.171);
  color: black;
  width: auto;
  height: auto;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #27a776;
}
.introGaleria h2 {
  font-family: "Roboto", sans-serif;
  color: #070707;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.introGaleria:hover {
  transform: scale(1.03);
  filter: grayscale(0%);
}

.imagenGaleria {
  border-radius: 1rem;
  padding: 0.4rem;
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease;
  filter: grayscale(50%);
}
.imagenGaleria:hover {
  transform: scale(1.03);
  filter: grayscale(0%);
}

/*HEADER*/
.encabezado {
  padding: 1rem 0;
  height: 10rem;
}
.encabezado .tituloPrincipal {
  text-decoration: none;
  color: #070707;
  font-size: 3rem;
}
.encabezado .tituloPrincipal i {
  font-size: 4rem;
  color: #27a776;
}
.encabezado .tituloPrincipal h1 {
  display: inline-block;
  color: #070707;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem;
  text-align: center;
}
.encabezado .tituloPrincipal img {
  width: 10rem;
  border-radius: 50%;
}

ul {
  display: flex;
  list-style-type: none;
  font-size: x-large;
  font-weight: 700;
}
ul li {
  margin-right: 3rem;
}
ul li a {
  text-decoration: none;
  color: #070707;
  font-size: 3rem;
  transition: all 0.3s ease;
}
ul li a:hover {
  color: rgba(247, 24, 8, 0.6);
}

/*HERO*/
/*Index*/
.hero {
  background: url(../img/resto.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 10rem);
  position: relative;
  display: inline-block;
}
.hero h2 {
  margin-bottom: 4rem;
  font-size: 5rem;
  font-weight: 700;
}
.hero h2 span {
  font-weight: 700;
  position: relative;
  padding: 0 5px;
}
.hero h2 span::before {
  content: "";
  position: absolute;
  height: 30%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #27a776;
  border-radius: 4px;
  z-index: -1;
}
.hero p {
  color: rgba(247, 24, 8, 0.6);
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 700;
}
.hero a {
  background-color: #27a776;
  text-decoration: none;
  color: #070707;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.hero a:hover {
  background-color: #f79606;
}

/*Galeria*/
.heroGaleria {
  background: url(../img/interior-restaurante_1127-3392.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 10rem);
  position: relative;
  display: inline-block;
}
.heroGaleria h2 {
  margin-bottom: 4rem;
  font-size: 5rem;
  font-weight: 700;
  color: rgb(8, 8, 8);
}
.heroGaleria h2 span {
  font-weight: 700;
  position: relative;
  padding: 0 5px;
}
.heroGaleria h2 span::before {
  content: "";
  position: absolute;
  height: 30%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #27a776;
  border-radius: 4px;
  z-index: -1;
}
.heroGaleria p {
  color: #27a776;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 900;
}
.heroGaleria a {
  background-color: #27a776;
  text-decoration: none;
  color: #070707;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.heroGaleria a:hover {
  background-color: #f79606;
}

/*hero del menu.index*/
.heroMenu {
  background: url(../img/nosotros1.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 10rem);
  margin-bottom: 3rem;
  position: relative;
  display: inline-block;
}
.heroMenu h2 {
  margin-bottom: 4rem;
  font-size: 5rem;
  font-weight: 700;
  color: #f79606;
}
.heroMenu h2 span {
  font-weight: 700;
  position: relative;
  padding: 0 5px;
}
.heroMenu h2 span::before {
  content: "";
  position: absolute;
  height: 30%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #27a776;
  border-radius: 4px;
  z-index: -1;
}
.heroMenu p {
  color: #070707;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: bold;
}
.heroMenu a {
  background-color: #27a776;
  text-decoration: none;
  color: #070707;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.heroMenu a:hover {
  background-color: #f79606;
}

/*Quienes Somos*/
.heroQuienes {
  background: url(../img/nosotros\ 2.webp);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 10rem);
  position: relative;
  display: inline-block;
}
.heroQuienes h2 {
  margin-bottom: 4rem;
  font-size: 5rem;
  font-weight: 700;
  color: rgb(8, 8, 8);
}
.heroQuienes h2 span {
  font-weight: 700;
  position: relative;
  padding: 0 5px;
}
.heroQuienes h2 span::before {
  content: "";
  position: absolute;
  height: 30%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #27a776;
  border-radius: 4px;
  z-index: -1;
}
.heroQuienes p {
  color: #27a776;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 900;
}
.heroQuienes a {
  background-color: #27a776;
  text-decoration: none;
  color: #070707;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.heroQuienes a:hover {
  background-color: #f79606;
}

/*Reservas*/
.heroReservas {
  background: url(../img/Reservas.jpg);
  background-size: cover;
  width: 100%;
  height: calc(100vh - 10rem);
  position: relative;
  display: inline-block;
}
.heroReservas h2 {
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: 700;
  color: rgb(8, 8, 8);
}
.heroReservas h2 span {
  font-weight: 700;
  position: relative;
  padding: 0 5px;
}
.heroReservas h2 span::before {
  content: "";
  position: absolute;
  height: 30%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #27a776;
  border-radius: 4px;
  z-index: -1;
}
.heroReservas p {
  color: #27a776;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: 900;
}
.heroReservas a {
  background-color: #27a776;
  text-decoration: none;
  color: #070707;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.heroReservas a:hover {
  background-color: #f79606;
}

@media (max-width: 767px) {
  .imagenGaleria {
    max-width: 90%;
    margin: auto;
  }
  .tituloPrincipal {
    display: none;
  }
  .introGaleria {
    display: none;
  }
}
/*Footer*/
footer {
  margin-top: 3rem;
}

.footerAncla {
  font-size: x-large;
  text-decoration: none;
  margin-right: 3rem;
}
.footerAncla a {
  text-decoration: none;
  color: #070707;
  font-size: 2rem;
  transition: all 0.3s ease;
}
.footerAncla a:hover {
  color: #f79606;
}

/*# sourceMappingURL=estilo.css.map */
