html {
    font-size: 62.5%;

    body {
        background: url(../img/MegaTron.jpg);
        padding: 0;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }
}

/*menu del menu.html*/

.cardText {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
}    



