$color-fuentes:#070707;
$color-fuentes-secundario: rgba(247, 24, 8, 0.6);
$color-fondo: #161718;
$color-botones: #27a776;
$color-botones-secundario: #f79606;
$color-fuentes-secundario-dos: rgb(8, 8, 8);
$color-fuentes-secundario-tres: rgb(230, 209, 209);
